* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.clock-container {
    background-color: black;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    padding: 30px 50px;
    border-radius: 3px;
                    

}
